[user]
	email = arcolinuxinfo@gmail.com
	name = arcolinuxz
[core]
  pager = delta
[delta]
  syntax-theme = Nord
  line-numbers = true
  side-by-side = true
[interactive]
  diffFilter = delta --color-only
; [url "https://github.com.cnpmjs.org/"]
; 	insteadof = https://github.com/
[safe]
	directory = /home/se7en/.config/nvim
[pull]
	rebase = false
[push]
	default = simple
