* {
    main-bg:            #37363BE6;
    main-fg:            #D4D1E4;
    main-br:            #90949A;
    main-ex:            #353536;
    select-bg:          #4D4E56;
    select-fg:          #C8C9C4;
}
